{% extends 'employee_register/base.html' %}

{% block content %}
<a href="{% url 'insert_form' %}" class="btn btn-success btn-block"> <i class="fas fa-plus"></i> Insert</a>
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Full Name</td>
            <td>Mobile No</td>
            <td>Position</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        {% for employee in employeelist %}
           <tr>
               <td>{{employee.name}}</td>
               <td>{{employee.mobile}}</td>
               <td>{{employee.position}}</td>
               <td><a href="{% url 'update_form' employee.id %}" class="btn btn-secondary"> <i class="fas fa-edit"></i> Edit</a></td>
               <td>
                   <form action="{% url 'delete' employee.id %}"" method="post">
                       {% csrf_token %}
                       <button class="btn btn-danger"> <i class="fas fa-trash"></i> Delete</button>
                   </form>
                </td>
           </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
